* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.hero {
  width: 100vw;
  height: 50vh;
  display: flex;
  font-size: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Inter";
}

@media screen and (max-width: 900px) {
  .hero {
    font-size: 3rem;
  }
}
body {
  background-color: rgb(233, 224, 224);
}

footer {
  margin-top: 3rem;
  text-align: center;
  padding: 1rem;
  background-color: rgb(188, 185, 182);
  font-size: 0.8rem;
}

.burger {
  background: rgb(236, 235, 231);
  border-style: none;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.burger .close {
  display: none;
}
.burger input[type=checkbox] {
  display: none;
}
.burger label {
  display: inline-block;
  cursor: pointer;
}
.burger label img {
  width: 3rem;
  margin-right: 2vw;
}
.burger input[type=checkbox]:checked + .burger-label .open {
  display: none;
}
.burger input[type=checkbox]:checked + .burger-label .close {
  display: block;
}
.burger .burger-content {
  display: none;
  position: absolute;
  background-color: rgb(236, 235, 231);
  list-style: none;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 1.5rem;
}
.burger .burger-content li a {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
}
.burger .burger-content li a:last-child {
  margin-bottom: 0;
}
.burger input[type=checkbox]:checked ~ .burger-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 2rem;
  right: 2rem;
  top: 3rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}
.burger input[type=checkbox]:checked ~ .burger-content li {
  justify-content: center;
  align-items: center;
}
.burger input[type=checkbox]:checked ~ .burger-content li a {
  color: black;
  border-bottom-style: solid;
  border-width: 0.1rem;
}

@media screen and (min-width: 900px) {
  .burger {
    position: sticky !important;
    top: 0px !important;
  }
  .burger-content {
    align-items: center;
    display: flex !important;
    padding: 1rem !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    left: 0 !important;
    width: 100vw;
    justify-content: center;
  }
  .burger-content ul {
    margin: 0;
    padding: 0;
  }
  .burger-content li {
    display: inline;
    margin: 0 !important;
  }
  .burger-content li a {
    display: inline !important;
    margin-bottom: 0 !important;
    padding: 0.5rem !important;
    border-width: 0.15rem;
    color: inherit !important;
    margin: 1rem;
  }
  .burger-content li a:hover {
    border-bottom-style: solid !important;
    border-color: #000000 !important;
  }
}
.articles {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.articles .article-title {
  font-weight: 650;
  font-size: 1.5rem;
}
.articles .article-desc {
  color: #3a3a3a;
}
.articles a {
  text-decoration: none;
  color: black;
}
.articles .top {
  width: 100%;
  align-self: center;
  margin-bottom: 1rem;
}
.articles .top p {
  margin-left: 1rem;
}
.articles .top img {
  width: 100%;
  display: block;
}
.articles .bottom-container {
  display: flex;
  width: 95%;
  justify-content: center;
  align-self: center;
  padding-bottom: 2rem;
  border-bottom-style: solid;
  border-width: 0.1rem;
  border-color: #a1a1a1;
}
.articles .bottom-container .bottom {
  flex: 1;
  margin: 0.4rem;
}
.articles .bottom-container .bottom img {
  width: 100%;
  display: block;
}/*# sourceMappingURL=styles.css.map */